# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
/server
# testing
/coverage

# production
/build

# compiled css files
src/**/*.css

# environment variables
.env

# misc
.vscode
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
